/**
 * Project gestion-courrier-native
 * File styles
 * Path src/pages
 * Created by BRICE ZELE
 * Date: 23/03/2022
 */
.img-place-holder:hover {
  background-color: #cccccc91;
  transition: 0.2s ease-in;
}
.img-place-holder {
  background-color: white;
  transition: 0.2s ease-in-out;
}
